<div class="bg-white p-3">
  <div class="card-body">
    <p>Houses Page</p>
    <h1> How about a house?</h1>
  </div>
</div>
<section class="container-fluid p-2">
  <div class="row mt-3" id="houses-list">


    <!-- <div class="col-4">
      <div class="card">
        <img src="https://photos.zillowstatic.com/fp/cc36b358a2f5f21b3a19e13757db57fd-p_e.jpg" alt="rancher house"
          class="card-img-top">
        <div class="card-body">
          <h3 class="card-title text-start">You get a house</h3>
          <p class="card-text fw-bold"><i class="mdi mdi-bed-king-outline"></i> 3</p>
          <p class="card-text fw-bold"><i class="mdi mdi-shower"></i> 2</p>
        </div>
      </div>
    </div> -->
  </div>
</section>